/* Ensure that the Analysis page takes up the full viewport height */
.Analysis {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
 
/* Flexbox adjustments for the content */
.Analysis > div {
  flex: 1;
}
 
/* DrawCard component adjustments */
.Draws {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
  gap: 20px; /* Add space between cards */
  justify-content: center;
 
}
.draw:hover{
  background-color: rgb(112, 112, 190);
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 200ms;
}
.draw{
  cursor: pointer;
}
.draw.active-draw {
  width: 100%;
  max-width: 300px; /* Max width for larger screens */
  background-color: rgb(94, 94, 144);
 
}
 
/* Style adjustments for tables */
.tables {
  margin: 20px auto;
  padding: 0 10px; /* Padding to ensure space on small screens */
  overflow-x: auto; /* Allow horizontal scrolling */
}
 
/* Table container with overflow for vertical scrolling */
.table-container {
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}
 
/* Table styling */
.draws-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px; /* Adjust font size for smaller screens */
}
 
.draws-table th, .draws-table td {
  padding: 15px 20px;
}
 
.draws-table td {
  text-align: center;
}
 
/* Responsive header styles */
h2, h5 {
  margin: 10px 0;
  text-align: center; /* Center align text */
}
 
/* Responsive adjustments */
@media (max-width: 768px) {
  .Draws {
    flex-direction: column;
    align-items: center;
  }
 
  .draw, .active-draw {
    width: 100%;
    max-width: 90%; /* Adjust max width for smaller screens */
  }
 
  .tables {
    margin-left: 0;
  }
 
  .draws-table {
    font-size: 12px; /* Smaller font size for smaller screens */
  }
  .draws-table th.date-column, .draws-table td.date-column {
    width: 500px; /* Adjust the width as needed */
  } 
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.page-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.prev-button {
  background-color: #28a745;
  color: white;
}

.next-button {
  background-color: #28a745;
  color: white;
}

.page-info {
  flex-grow: 1;
  text-align: center;
}
