
  .draws-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    /* background-color: white; */
    border-radius: 5px;
  }
  
  .draws-table th, .draws-table td {

    padding: 8px;
    font-size: 16px;
  }
  
  .draws-table td {
    text-align: center;
  }
  
  h5{
    color: rgb(41,40,91);
  }