.MDBCard, .MDBCardBody {
    border-radius: 20px;
  }
  
  .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 5%;
  }
  
  .tab-card {
    border-radius: 20px;
    background-color: rgb(252, 250, 250);
    cursor: pointer;
    border: 1px solid gray;
    margin: 10px;
    width: 300px; /* Ensures all cards have the same width */
    height: 170px; /* Ensures all cards have the same height */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s, background-color 0.3s;
  }
  
  .tab-card:hover {
    border: solid 2px rgb(41, 40, 91);
    background-color: rgb(255, 255, 255);
  }
  
  .tab-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  
  .active-tab {
    border: solid 2px rgb(41, 40, 91);
    background-color: rgb(255, 255, 255);
  }
  
  .number {
    background-color: rgb(215, 215, 215);
    width: 100px;
    height: 80px;
    cursor: pointer;
    margin: 20px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .number:hover {
    border: solid 2px rgb(41, 40, 91);
  }
  
  .contents {
    border-radius: 20px;
    background-color: white;
    height: auto;
    margin-top: 3%;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
  }
  
  .active-content {
    display: block;
  }
  
  h2, h5, p {
    color: rgb(41, 40, 91);
  }
  
  h5 {
    margin-left: 4%;
    margin-top: 4%;
  }
  
  p.pt-4 {
    padding-top: 20px;
  }

  .tab-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
  }
  
  .tab-body h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(41, 40, 91);
    text-align: center;
  }
  
  .tab-body p {
    font-size: 1rem;
    color: rgb(41, 40, 91);
    text-align: center;
    margin: 0;
  }
  
  .tab-card {
    border-radius: 20px;
    background-color: rgb(252, 250, 250);
    cursor: pointer;
    border: 1px solid gray;
    margin: 10px;
    width: 300px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s, background-color 0.3s;
    padding: 10px;
  }
  
  .tab-card:hover {
    border: solid 2px rgb(41, 40, 91);
    background-color: rgb(255, 255, 255);
  }
  
  
  @media (max-width: 768px) {
    .tabs {
      flex-direction: column;
      align-items: center;
    }
  
    .tab-card {
      width: 90%;
      margin: 10px 0;
    }
  
    .contents {
      width: 90%;
      margin: 20px auto;
    }
  }
  